.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.header {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
}
.logo {
    height: 100px;
    width: 100px;
    padding: 16px 16px 16px 24px;
}
.cart-icon {
    height: 25px;
    width: 25px;
    align-items: center;
    padding: 20px 24px 16px 20px;
    position: relative;
    top: -4px;
}
.nav-links {
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #C5705D;
}
.nav-links > ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}
.nav-links > ul > li {
    padding: 20px;
}
.body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: calc(10% + 36px);
    margin-right: calc(10% + 36px);
}
.restaurant-card-container {
    padding: 16px;
}
.restaurant-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.restaurant-card {
    color: #C5705D;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    height: 356px;
    flex-direction: column;
    display: flex;
    padding: 0.5rem;
    width: 100%;
    min-width: 200px; 
    text-decoration: none;
}
.card-item {
    background-color: #F8EDE3;
    box-sizing: border-box;
    border-radius: 16px;
    height: 100%;
    padding: 8px; 
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
@media(min-width: 40rem) {
    .restaurant-card {
        width: 50%;
   }
}
@media(min-width: 56rem) {
    .restaurant-card {
        width: 33.3%;
   }
}
@media(min-width: 72rem) {
    .restaurant-card {
        width: 25%;
   }
}
.card-item:hover {
    cursor: pointer;
    box-shadow: #C5705D;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.restaurant-image {
    border-radius: 16px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.name {
    color: #7E4338;
    font-weight: 600;
    padding: 8px 8px 4px 8px;
}
.address {
    color: #7E4338;
    padding: 0px 8px;
}
.cuisine {
    font-weight: 600;
    padding: 8px;
}
.details-container {
    display: flex;
    padding: 0px 8px 0px 8px;
    color: #7e4338;
    align-items: center;
    gap:8px;
    justify-content: space-between;
}
.star-rating {
    height: 10px;
    width: 10px;
}
.rating-container {
    display: flex;
    gap: 4px;
    align-items: center;
    background-color: #7e4338;
    padding: 4px 8px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
}
.hr-break {
    background-color: #C5705D;
    border-color: #C5705D;
}
.discount-image {
    height: 16px;
    width: 16px;
}
.discount {
    position: absolute;
    color: #fff;
    position: absolute;
    top: 193px;
    right: 37px;
    font-size: 14px;
}
.dot-separator {
    width: 5px;
    height: 5px;
    background-color: #C5705D;
    border-radius: 50%;
    display: inline-block;
}
.filter-bar-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.pill {
    border: 2px solid #7E4338;
    border-radius: 32px;
    padding: 8px 16px 8px 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 500;
    color: #7E4338;
    cursor: pointer;
}
.pill-selected {
    color: white;
    background-color: #c5705d;
}
.sort-icon {
    height: 36px;
    width: 36px;
    position: relative;
    top: 1px;
}
.filter-sort-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 28px;
}
.sort-dropdown {
    z-index: 2;
    position: absolute;
    background: white;
    padding: 16px;
    border-radius: 16px;
    color: #c5705d;
    border: 1px solid #7e4338;
    right: 28px;
    font-weight: 500;
}
.sort-item {
    display: flex;
    gap: 4px;
}
.sort-list{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.restaurant-details{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.price {
}
.discount-banner {
    width: 142px;
    height: 90px;
    position: absolute;
    top: 167px;
    right: 12.9px;
    transform: rotatey(180deg);
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding: 16px;
}

.shimmer-card {
    color: #C5705D;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    height: 356px;
    flex-direction: column;
    display: flex;
    padding: 0.5rem;
    width: 100%;
}

.shimmer-card-item {
    background-color: #f0f0f0;;
    box-sizing: border-box;
    border-radius: 16px;
    height: 100%;
    padding: 8px; 
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.shimmer-image {
    border-radius: 16px;
    background-color: #e0e0e0;
    width: 100%;
    height: 200px;
    object-fit: cover;
    position: relative;
    overflow: hidden; 
}

  .shimmer-name {
    background-color: #e0e0e0;
    margin: 8px 8px 4px 8px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    height: 18.5px;
}
.shimmer-address {
    background-color: #e0e0e0;
    margin: 0px 8px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    height: 18.5px;
}
.shimmer-delivery-time {
    background-color: #e0e0e0;;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    height: 18.5px;
    width: 50%;
}
.shimmer-cuisine {
    background-color: #e0e0e0;
    margin: 8px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    height: 18.5px;
    margin-top:16px;
    margin-bottom: 8px;      
}

.shimmer-rating-container {
    display: flex;
    gap: 4px;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    height: 24px;
    width: 50px;    
}

.shimmer-details-container {
    display: flex;
    margin: 0px 8px 0px 8px;
    color: #e0e0e0;
    align-items: center;
    gap:8px;
    justify-content: space-between;
}

@media(min-width: 40rem) {
    .shimmer-card  {
        width: 50%;
   }
}
@media(min-width: 56rem) {
    .shimmer-card  {
        width: 33.3%;
   }
}
@media(min-width: 72rem) {
    .shimmer-card  {
        width: 25%;
   }
}

.shimmer::before{
    content: '';
    width: 200%;
    left: -150%;
    height: 100%;
    top: 0;
    position: absolute;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 100%);
    animation: shimmer 1s ease-in-out infinite;
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.search-bar-input {
    border-radius: 32px;
    padding: 8px 8px;
    border: 1px solid #7e4338;
    width: 100%;
    margin-right: 8px;
    color: #c5705d; 
}
.search-bar-input {
    color: #c5705d;
    border: 2px solid #7e4338;
    border-radius: 32px;
    width: 100%;
    margin-right: 8px;
    padding: 8px;
    outline: none; 
}
.search-bar-input::placeholder{
    color: #7e4338;
}


.search-bar-input:focus {
    border-color: #c5705d;
    box-shadow: 0 0 8px rgba(197, 112, 93, 0.6);
}
.search-bar {
  display: flex;
  width: 100%;
}
.search-container {
    justify-content: space-between;
    padding: 16px 28px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.search-img {
    width: 25px;
    height: 25px;
    color:#7E4338;
    cursor: pointer;
}

.search-bar-btn {
    background: none;
    border: none;
    padding: 0;
}

.no-result-container {
    padding: 64px;
}

.no-result-banner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;
}

.no-restaurant-image {
    width: 350px;
    height: 350px;
    object-fit: contain;
    position: relative;
    top: -24px;
}
.no-result-text {
    font-size: 70px;
}

.reset-filter {
    border-radius: 16px;
    padding: 8px 16px;
    background-color: #c5705d;
    color: white;
    border: 2px solid #7e4338;
    font-family: Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;
    min-width: 132px;
    cursor: pointer;
}
.text-page-container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px 24px 24px 24px;
}
.text-page-details {
    margin-left: calc(10% + 36px);
    margin-right: calc(10% + 36px);
    text-align: justify;
}
.heading-title {
    color: #7e4338;
}
.para-title{
    color: #c5705d;
}

.contact-container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px 24px 24px 24px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    background: #F8EDE3;
    padding: 0px 16px 16px 16px;
    border-radius: 16px;
    color: #7E4338;
    max-width: 50%;
    margin-top: 16px;
  }
  
  .contact-form h2 {
    margin-bottom: 20px;
  }
  
  .contact-form div {
    margin-bottom: 15px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contact-form input {
    border-radius: 8px;
    width: -webkit-fill-available;
    padding: 8px;
    border: 2px solid #7E4338;
  }
  
  .contact-form button {
    background-color: #7E4338;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .contact-form textarea {
    max-width: -webkit-fill-available;
    max-height: 100px;
    min-height: 52px;
    min-width: -webkit-fill-available;
    border-radius: 8px;
    border: 2px solid #7e4338;
  }

.error-page-container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px 24px 24px 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap:38px

}
.error-img {
    width: 250px;
    height: 250px;
    margin-top: 40px
}

.link-item {
    color: inherit; 
    text-decoration: none;
}
.contact-form-para {
    margin-top: 32px;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup-content {
    background: white;
    padding: 20px;
    border-radius: 16px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 15%;
}
.popup-message {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#7E4338
}
.popup-btn {
    color: #fff;
    background-color: #c5705d;
    width: auto;
    height: auto;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #7E4338;
}

.restaurant-page-container {
    margin-left: calc(10% + 36px);
    margin-right: calc(10% + 36px);
    padding: 24px;
    display: flex;
    flex-direction: column;
    background-color: #f8ede3;
    border-radius: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.restaurant-image-cover {
    width: 100%;
    height: 250px;
    border-radius: 16px;
    object-fit: cover;
}

.menu-container {
    display: flex;
    flex-direction: column;
    gap:16px;
}

.restaurant-details-container {
display: flex;
flex-direction: column;
}

.restaurant-heading-title {
    margin-bottom: 8px;
    color:#7E4338
}


.menu-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-name-container {
    display: flex;
    gap: 8px; 
}

.item-heading {
    margin-bottom:8px;
    margin-top: 4px;
    color:#7E4338
}

.menu-heading {
    margin-top: 4px;
}

.color-text-item {
    color:#C5705D
}

.item-text {
    padding: 4px 0px;
}

.price-container {
    display: flex;
    position: relative;
    width: fit-content;
    margin-top: 4px;
    margin-bottom: 8px;
}

.original-price {
    color: gray;
    margin-right: 8px;
    position: relative;
}

.original-price::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #C5705D;
    transform: rotate(-15deg);
    transform-origin: center;
}
.discounted-price {
    color: #C5705D;
    font-weight: bold;
}
.quantity-price-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.add-subtract-icon {
    background-color: #C5705D;
    color: white;
    width: 30px;
    height: 20px;
    border-radius: 4px;
    font-weight: 600;
    border: 0px;
    cursor: pointer;
}
.quantity-container {
    display: flex;
}
.quantity {
    background-color: white;
    color: black;
    width: 30px;
    height: 20px;
    border-radius: 4px;
    font-weight: 500;
    justify-content: center;
    display: flex;
}

.item-image-container {
    width: 150px;
    height: 100px;
    border-radius: 16px;
}
.item-details-container {
    display: flex;
    flex-direction: column;
}