.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.header {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    background-color: #F8EDE3;
}
.logo {
    height: 100px;
    width: 100px;
    padding: 16px 16px 16px 24px;
}

.cart-icon {
    height: 25px;
    width: 25px;
    align-items: center;
    padding: 20px 24px 16px 20px;
    position: relative;
    top: -4px;

}
.nav-links {
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #C5705D;

}

.nav-links > ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.nav-links > ul > li {
    padding: 20px;
}

.body {
    background-color: #F8EDE3;
}
.restaurant-card-container{
    display: flex;
    justify-content: center;
}
.restaurant-cards {
    display: flex;
    padding: 24px;
    flex-wrap: wrap;
    gap: 24px;
    width: 83.5%;
}

.restaurant-card {
    width: 380px;
    height: 428px;
    background-color: #DFD3C3;
    border-radius: 16px;
    color: #C5705D;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.restaurant-card:hover {
    cursor: pointer;
    box-shadow: #C5705D;
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.restaurant-image {
    height: 260px;
    width: 380px;
    border-radius: 16px;
}

.name {
    color: #7E4338; 
    font-weight: 600;
    padding: 8px;
}

.address {
    color: #7E4338; 
    padding: 0px 8px;
}

.cuisine {
    font-weight: 600;
    padding: 8px;
}

.details-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 8px;
    color: #7e4338;
    padding-top: 8px;
    align-items: center;
}
.star-rating {
    height: 20px;
    width: 20px;
}

.rating-container {
    display: flex;
    gap: 4px;
    align-items: center;
}
.hr-break {
    background-color: #C5705D;
    border-color: #C5705D;
}

.discount-image {
    height: 16px;
    width: 16px;
}

.discount {
    display: flex;
    gap: 4px; 
    align-items: center;
    padding: 6px 0px 8px 8px;
}
.dot-separator {
    width: 5px;
    height: 5px;
    background-color: #C5705D;
    border-radius: 50%;
    display: inline-block;
}